build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/Makefile
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/addtask.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/browserwindow.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/changesemester.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/course_item.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/FileDropWidget.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/first_run.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/flowlayout.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/main.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/mainwindow.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/makeroutine.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/materialelement.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/materialnavcell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/materialsnav.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_addtask.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_browserwindow.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_changesemester.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_course_item.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_FileDropWidget.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_first_run.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_mainwindow.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_makeroutine.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_materialelement.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_materialnavcell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_materialsnav.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_new_routine.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_newbox.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_primary_window.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_routinecell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_routinetimecell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_routineunit.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_settings_page.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_upnextelement.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/new_routine.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/newbox.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/Ordo.exe
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/Ordo.ilk
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/Ordo.pdb
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/Ordo.vc.pdb
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/primary_window.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/routinecell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/routinetimecell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/routineunit.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/settings_page.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/StylesSheets.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/upnextelement.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/Makefile
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/addtask.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/browserwindow.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/changesemester.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/course_item.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/FileDropWidget.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/first_run.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/flowlayout.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/main.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/mainwindow.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/makeroutine.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/materialelement.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/materialnavcell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/materialsnav.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_addtask.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_browserwindow.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_changesemester.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_course_item.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_FileDropWidget.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_first_run.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_mainwindow.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_makeroutine.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_materialelement.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_materialnavcell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_materialsnav.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_new_routine.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_newbox.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_primary_window.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_routinecell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_routinetimecell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_routineunit.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_settings_page.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/moc_upnextelement.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/new_routine.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/newbox.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/Ordo.exe
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/Ordo.ilk
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/Ordo.pdb
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/Ordo.vc.pdb
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/primary_window.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/routinecell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/routinetimecell.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/routineunit.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/settings_page.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/StylesSheets.obj
build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/debug/upnextelement.obj
