/build-Ordo-Desktop_Qt_6_7_1_MSVC2019_64bit-Debug/
*.obj
.DS_Store
/build-Ordo-Qt_6_7_0_for_macOS-Debug
main_shit/Ordo.pro.user
/build-Ordo-Qt_6_7_0_for_macOS-Release
/build-Ordo-Qt_6_7_0_for_macOS-Profile